@{
    ViewData["Title"] = "صورتحساب";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>صورتحساب</h3>
                        <p>شماره صورتحساب: INV-20250001</p>
                        <p>تاریخ: ۱۵ تیر ۱۴۰۵</p>
                    </div>
                    <div class="col-md-6 text-left">
                        <h4>فروشگاه ECommerce</h4>
                        <p>تهران، خیابان ولیعصر</p>
                        <p>تلفن: ۰۲۱-۱۲۳۴۵۶۷۸</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>صورتحساب به:</h5>
                        <p>علی محمدی</p>
                        <p>ali@example.com</p>
                        <p>۰۹۱۲۱۲۳۴۵۶۷</p>
                        <p>تهران، خیابان ولیعصر، پلاک ۱۲۳</p>
                    </div>
                    <div class="col-md-6 text-left">
                        <h5>وضعیت:</h5>
                        <span class="label label-success font-weight-100">پرداخت شده</span>
                    </div>
                </div>
                <div class="table-responsive m-t-40">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="border-top-0">کالا</th>
                                <th class="border-top-0">توضیحات</th>
                                <th class="border-top-0">تعداد</th>
                                <th class="border-top-0">قیمت واحد</th>
                                <th class="border-top-0">جمع</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>صندلی گرد</td>
                                <td>صندلی گرد گلوب</td>
                                <td>۲</td>
                                <td>۱۲۵,۰۰۰ تومان</td>
                                <td>۲۵۰,۰۰۰ تومان</td>
                            </tr>
                            <tr>
                                <td>صندلی چوبی</td>
                                <td>صندلی چوبی کلاسیک</td>
                                <td>۳</td>
                                <td>۸۵,۰۰۰ تومان</td>
                                <td>۲۵۵,۰۰۰ تومان</td>
                            </tr>
                            <tr>
                                <td>میز تحریر</td>
                                <td>میز تحریر مدرن</td>
                                <td>۱</td>
                                <td>۴۵۰,۰۰۰ تومان</td>
                                <td>۴۵۰,۰۰۰ تومان</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row m-t-30">
                    <div class="col-md-6">
                        <div class="text-left">
                            <h5>جمع جزئی: ۹۵۵,۰۰۰ تومان</h5>
                            <h5>تخفیف: ۰ تومان</h5>
                            <h5>مالیات: ۹۵,۵۰۰ تومان</h5>
                            <h5>هزینه ارسال: ۵۰,۰۰۰ تومان</h5>
                            <hr>
                            <h3>جمع کل: ۱,۱۰۰,۵۰۰ تومان</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
