<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu">مدیریت کاربران</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Users" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-account-multiple-outline"></i>
                                <span class="hide-menu">لیست کاربران</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="Roles" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-shield-account"></i>
                                <span class="hide-menu">نقش‌ها</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-package-variant"></i>
                        <span class="hide-menu">محصولات</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Products" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-format-list-bulleted"></i>
                                <span class="hide-menu">لیست محصولات</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-folder-multiple"></i>
                        <span class="hide-menu">دسته‌بندی‌ها</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Categories" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-folder"></i>
                                <span class="hide-menu">لیست دسته‌بندی‌ها</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-tag-multiple"></i>
                        <span class="hide-menu">برندها</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Brands" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-tag"></i>
                                <span class="hide-menu">لیست برندها</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-cart"></i>
                        <span class="hide-menu">سفارشات</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Orders" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-cart-outline"></i>
                                <span class="hide-menu">لیست سفارشات</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-file-document"></i>
                        <span class="hide-menu">مقالات</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Articles" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-file-document-outline"></i>
                                <span class="hide-menu">لیست مقالات</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-view-carousel"></i>
                        <span class="hide-menu">اسلایدرها</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Slides" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-view-dashboard"></i>
                                <span class="hide-menu">لیست اسلایدرها</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-comment-multiple"></i>
                        <span class="hide-menu">نظرات</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a asp-controller="Comments" asp-action="Index" class="sidebar-link">
                                <i class="mdi mdi-comment-text-outline"></i>
                                <span class="hide-menu">مدیریت نظرات</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
