@{
    ViewData["Title"] = "مدیریت نظرات";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title">مدیریت نظرات</h4>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="zero_config">
                    <thead>
                        <tr>
                            <th class="border-top-0">نویسنده</th>
                            <th class="border-top-0">موضوع</th>
                            <th class="border-top-0">محتوا</th>
                            <th class="border-top-0">محصول/مقاله</th>
                            <th class="border-top-0">وضعیت</th>
                            <th class="border-top-0">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-center text-muted">
                                <i class="mdi mdi-information-outline font-24"></i>
                                <p class="m-t-10">داده‌ای یافت نشد</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
