@{
    ViewData["Title"] = "مدیریت برندها";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title">مدیریت برندها</h4>
                    </div>
                    <div class="ml-auto">
                        <a asp-action="Create" class="btn btn-warning">
                            <i class="mdi mdi-tag-plus"></i> افزودن برند جدید
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover" id="zero_config">
                    <thead>
                        <tr>
                            <th class="border-top-0">لوگو</th>
                            <th class="border-top-0">نام برند</th>
                            <th class="border-top-0">توضیحات</th>
                            <th class="border-top-0">تعداد محصولات</th>
                            <th class="border-top-0">وضعیت</th>
                            <th class="border-top-0">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6" class="text-center text-muted">
                                <i class="mdi mdi-information-outline font-24"></i>
                                <p class="m-t-10">داده‌ای یافت نشد</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
